
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    overflow-x: hidden; 
    
    background: linear-gradient(135deg, #969bae 5%, #dbb7ff 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
}


.ust-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    transition: all 0.4s ease;
    z-index: 999;
}


.ust-menu.aktif {
    background-color: rgb(255, 255, 255); 
    box-shadow: 0 4px 12px rgba(0,0,0,0.6);
}


.logo {
    display: flex; 
    align-items: center; 
    gap: 15px; 
    cursor: pointer;
}

.logo img {
    height: 95px; 
    width: auto; 
}


.logo span {
    font-size: 24px;
    font-weight: bold;
    color: #000; 
    letter-spacing: 1px;
}


.linkler {
    list-style: none;
    display: flex;
    gap: 30px;
}

.linkler a {
    text-decoration: none;
    color: #000; 
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.linkler a:hover {
    color: #6c5ce7; 
}


.form-alani {
   
    margin-top: 100px; 
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
}


form {
     background: linear-gradient(135deg, #c0c0c0 5%, #cd9aff 100%);
    padding: 30px 40px;
    border-radius: 15px;
    width: 100%;
    max-width: 400px; 
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

#form-info {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}


input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #dcdde1;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s;
}

input:focus {
    border-color: #6c5ce7;
    outline: none;
    box-shadow: 0 0 5px rgba(108, 92, 231, 0.5);
}

button {
    width: 100%;
    padding: 12px;
    background: #6c5ce7;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

button:hover {
    background: #5a4bd1;
}


.alt-bilgi {
    background-color: transparent; 
    padding: 40px 0; 
    text-align: center; 
    margin-top: 50px; 
}

.footer-icerik p {
    color: #000; 
    font-size: 0.9rem;
}

.sosyal {
    margin: 15px 0;
}

.sosyal a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: #333;
    transition: 0.3s;
}

.sosyal a:hover {
    color: #6c5ce7;
}


.menu-btn {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #000;
}


.alt-bilgi {
    background-color: transparent; 
    padding: 40px 0; 
    text-align: center; 
    margin-top: 50px; 
    ;
   
}

.proje-adi {
    font-size: 9px;;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 2px; 
}

.footer-icerik p {
    color: #000000; 
    font-size: 0.5rem;
}
.menu-btn {
    display: none; 
    font-size: 1.5rem;
    cursor: pointer;
    color: white; 
    transition: color 0.3s ease;
}


.ust-menu.aktif .menu-btn {
    color: black;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .kart {
        width: 100%;
    }

    .yazi-kutusu h2 { font-size: 2rem; } 
    .slider-alani { height: 400px; } 
    .bolum-basligi {
        font-size: 2rem;
    }
    
    .menu-btn {
        display: block; 
    }

    
    .linkler {
        position: absolute;
        top: 100%; 
        right: -100%; 
        width: 100%; 
        height: auto;
        background-color: white; 
        flex-direction: column; 
        align-items: center;
        padding: 20px 0;
        box-shadow: 0 10px 10px rgba(0,0,0,0.1);
        transition: right 0.4s ease; 
        border-radius: 0 0 15px 15px; 
    }

    
    .linkler.acik {
        right: 0; 
    }

    
    .linkler li {
        margin: 15px 0;
    }
    
    .linkler a {
        color: black; 
        font-size: 1.2rem;
    }
    
    
    .logo img {
        height: 60px;
    }
    .logo span {
        font-size: 18px;
    }
}

